In [1]:
import pandas as pd

In [3]:
train_data = pd.read_csv('train_w_weight.csv')
# Removing index and name columns
train_data = train_data.drop(['EmployeeID', 'Name'], axis=1)

In [4]:
train_data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,363.779528,Sales,1,2,Life Sciences,1,1,...,1,160,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,256.667244,Research & Development,8,1,Life Sciences,1,2,...,4,160,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,214.151811,Research & Development,2,2,Other,1,4,...,2,160,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,250.368661,Research & Development,3,4,Life Sciences,1,5,...,3,160,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,226.748976,Research & Development,2,1,Medical,1,7,...,4,160,1,6,3,3,2,2,2,2

In [11]:
train_data.loc[train_data['Attrition'] == 'No']

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,49,No,Travel_Frequently,256.667244,Research & Development,8,1,Life Sciences,1,2,...,4,160,1,10,3,3,10,7,1,7
3,33,No,Travel_Frequently,250.368661,Research & Development,3,4,Life Sciences,1,5,...,3,160,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,226.748976,Research & Development,2,1,Medical,1,7,...,4,160,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,226.748976,Research & Development,2,2,Life Sciences,1,8,...,3,160,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,234.622205,Research & Development,3,3,Medical,1,10,...,1,160,3,12,3,2,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,25,No,Travel_Rarely,321.259842,Sales,18,1,Life Sciences,1,1399,...,2,160,0,6,3,2,3,2,1,2
994,52,No,Travel_Frequently,465.721417,Research & Development,28,2,Medical,1,1401,...,2,160,1,24,3,2,5,3,0,2
995,43,No,Travel_Rarely,251.943307,Research & Development,6,3,Medical,1,1402,...,1,160,0,20,3,1,20,7,1,8
996,27,No,Travel_Rarely,349.606299,Sales,10,3,Marketing,1,1403,...,4,160,0,6,3,3,6,2,4,4
998,26,No,Travel_Rarely,196.830709,Research & Development,2,1,Medical,1,1407,...,4,160,0,5,2,3,4,3,1,1